services:
  server:
    container_name: application-server
    build:
      context: ./server
    ports:
      - 8080:3000
    networks:
      - backend
      - frontend
    volumes:
      - ./docs:/docs
    env_file:
      - .env
    depends_on:
      - mongo-db
    restart: always
  client_mobile:
    container_name: client_mobile
    build:
      context: ./mobile_client
    working_dir: /app
    volumes:
      - shared-client:/shared
    networks:
      - frontend
    command: >
      sh -c "
      cp -r /app/shared/client.apk /shared/client.apk &&
      echo 'Build completed' > /shared/client_mobile.txt
      "
  client_web:
    container_name: web-client
    build:
      context: ./web_client
    ports:
      - 8081:80
    env_file:
      - .env
    restart: always
    networks:
      - frontend
    volumes:
      - shared-client:/shared
    depends_on:
      - client_mobile
      - server
  mongo-db:
    image: mongo
    container_name: mongo-db
    restart: always
    volumes:
      - db-data:/data/db
      - ./server/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    env_file:
      - .env
    networks:
      - backend
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - 8082:8082
    env_file:
      - .env
    networks:
      - backend

networks:
  frontend:
  backend:

volumes:
  db-data:
  shared-client:
